# Adding Elevation Data to the Data Set

## Imports

In [1]:
import pandas as pd
import numpy as np
import pickle
import sys
import pandas.core.indexes
sys.modules['pandas.indexes'] = pandas.core.indexes
import pandas.core.base, pandas.core.indexes.frozen
setattr(sys.modules['pandas.core.base'],'FrozenNDArray', pandas.core.indexes.frozen.FrozenNDArray)

## Load Data

In [2]:
df = pd.read_pickle('complete_data_set.pkl')

In [3]:
df.head()

,category,description,day_of_week,pd_district,resolution,address,longitude,latitude,date_time,hour_of_day,...,num_close_train_stations,dist_to_police_station,num_close_police_stations,dist_to_dispensary,num_close_dispensaries,dist_to_health_facility,num_close_health_facilities,dist_to_shelter,num_close_shelters,dist_to_union_sq
0,ASSAULT,BATTERY,Tuesday,TARAVAL,"ARREST, BOOKED",3200 Block of 20TH AV,-122.475647,37.728528,2017-01-03 17:43:00,17,...,0,0.016293,0,0.012360,0,0.020727,0,0.025694,0,0.090486
1,LARCENY/THEFT,PETTY THEFT SHOPLIFTING,Tuesday,TARAVAL,"ARREST, BOOKED",3200 Block of 20TH AV,-122.475647,37.728528,2017-01-03 17:43:00,17,...,0,0.016293,0,0.012360,0,0.020727,0,0.025694,0,0.090486
2,ASSAULT,AGGRAVATED ASSAULT WITH A KNIFE,Tuesday,NORTHERN,NONE,0 Block of GROVE ST,-122.417430,37.778535,2017-01-03 18:10:00,18,...,1,0.006849,1,0.003571,6,0.001241,19,0.002551,38,0.013757
3,LARCENY/THEFT,PETTY THEFT FROM LOCKED AUTO,Monday,MISSION,NONE,ELIZABETH ST / GUERRERO ST,-122.422953,37.752776,2017-01-02 15:00:00,15,...,1,0.010118,0,0.005320,4,0.005030,7,0.004227,6,0.038516
4,LARCENY/THEFT,PETTY THEFT FROM LOCKED AUTO,Tuesday,TARAVAL,NONE,3200 Block of 20TH AV,-122.475647,37.728528,2017-01-03 13:44:00,13,...,0,0.016293,0,0.012360,0,0.020727,0,0.025694,0,0.090486

In [4]:
df.shape

(125201, 31)

### Add Elevation Data

In [5]:
elevation_data = pd.read_csv('elevation_data.txt', delimiter='\t')

In [6]:
elevation_data.shape

(125201, 5)

In [7]:
elevation_data = elevation_data[['latitude','longitude','altitude (m)']]

In [8]:
elevation_data.head()

    latitude   longitude  altitude (m)
0  37.728528 -122.475647          53.5
1  37.728528 -122.475647          53.5
2  37.778535 -122.417430          18.7
3  37.752776 -122.422953          34.4
4  37.728528 -122.475647          53.5

In [9]:
elevation_data = elevation_data['altitude (m)']

In [10]:
new_df = pd.concat([df, elevation_data], axis=1)

In [11]:
new_df.shape

(125201, 32)

In [12]:
new_df.sample(5)

,category,description,day_of_week,pd_district,resolution,address,longitude,latitude,date_time,hour_of_day,...,dist_to_police_station,num_close_police_stations,dist_to_dispensary,num_close_dispensaries,dist_to_health_facility,num_close_health_facilities,dist_to_shelter,num_close_shelters,dist_to_union_sq,altitude (m)
804,ASSAULT,AGGRAVATED ASSAULT WITH A KNIFE,Sunday,PARK,"ARREST, BOOKED",1500 Block of FELL ST,-122.443417,37.773370,2017-01-08 09:00:00,9,...,0.012899,0,0.005588,1,0.006063,5,0.000702,9,0.038804,67.6
26771,LARCENY/THEFT,GRAND THEFT FROM UNLOCKED AUTO,Monday,MISSION,NONE,DOLORES ST / DORLAND ST,-122.426147,37.762159,2017-04-03 22:00:00,22,...,0.004199,1,0.005725,6,0.005721,4,0.002701,13,0.031912,18.8
86095,LARCENY/THEFT,GRAND THEFT FROM PERSON,Saturday,BAYVIEW,NONE,1200 Block of SHAFTER AV,-122.384242,37.727295,2016-12-10 14:56:00,14,...,0.013953,0,0.039653,0,0.008341,2,0.004412,1,0.065061,7.8
106738,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM",Wednesday,CENTRAL,NONE,SANSOME ST / BUSH ST,-122.400749,37.791178,2016-10-19 07:00:00,7,...,0.011881,0,0.002967,3,0.007269,3,0.001393,16,0.007438,7.0
58110,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Saturday,CENTRAL,NONE,BAY ST / LEAVENWORTH ST,-122.418534,37.804998,2016-07-23 14:00:00,14,...,0.010653,0,0.018389,0,0.010526,0,0.013919,0,0.020218,21.7

In [13]:
new_df = new_df.rename(columns={'altitude (m)':'altitude'})

In [14]:
new_df.columns

Index(['category', 'description', 'day_of_week', 'pd_district', 'resolution',
       'address', 'longitude', 'latitude', 'date_time', 'hour_of_day', 'month',
       'broad_category', 'geometry', 'id', 'pop10_sqmi', 'pop2010', 'sqmi',
       'zip_code', 'median_income', 'z_index', 'dist_to_train_station',
       'num_close_train_stations', 'dist_to_police_station',
       'num_close_police_stations', 'dist_to_dispensary',
       'num_close_dispensaries', 'dist_to_health_facility',
       'num_close_health_facilities', 'dist_to_shelter', 'num_close_shelters',
       'dist_to_union_sq', 'altitude'],
      dtype='object')

### Save a copy of the new data set

In [15]:
new_df.to_csv('complete_data_set_inc_elevation.csv', index=None)